/* CONFIGURAÇÕES GERAIS DE ESTILIZAÇÃO */
/* ------- COM TAMANHOS DEFAULT -------*/

.dropdown_container {
  flex-shrink: 0;
  min-width: 242px;
}

.dropdown,
.dropdown_option {
  box-sizing: border-box;
  cursor: pointer;

  color: var(--color-tertiary-active);
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;

  height: 48px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-base) !important;
  border: 1px solid var(--color-tertiary-hover);
  border-radius: 4px;

  padding-left: 14.25px;
  padding-right: 11.25px;
}

.dropdown .inner_left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.inner_left svg {
  width: 21px;
}

.dropdown_options_container {
  position: absolute;
  width: inherit;
}
.dropdown_option {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-icon-background);
  background-color: var(--color-base);

  padding: 0 12px;
}
.dropdown_option:hover {
  background-color: #e2fa85;
}

.dropdown_option:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  margin-top: 8px;
}

.dropdown_option:not(:last-child) {
  border-bottom: none;
}
.dropdown_option:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown:hover {
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
}

.dropdown_active {
  border: 1px solid var(--color-primary-active);
}

.dropdown svg:not(:first-child) {
  transition: all 0.2s ease-in;
}
.dropdown_active svg:not(:first-child) {
  transform: rotate(-180deg);
}

/* ------- VARIAÇÕES GERAIS -------- */

.dropdown_filled {
  color: var(--color-secondary-active);
}

.dropdown_disabled {
  background-color: var(--color-input) !important;
  pointer-events: none;
  cursor: default;
  color: var(--color-icon-element) !important;
}
/* -------- ALTURAS DAS DIVS -------- */
/* -------------- E ----------------- */
/* ------- TAMANHO DOS TEXTOS ------- */

.dropdown_micro,
.dropdown_option_micro {
  height: 32px;

  font-size: 14px;
  line-height: 20px;
}

.dropdown_small,
.dropdown_option_small {
  height: 40px;

  font-size: 14px;
  line-height: 20px;
}
.dropdown_large,
.dropdown_option_large {
  height: 64px;

  font-size: 18px;
  line-height: 28px;
}

/* ------ LARGURA DOS PADDINGS ------ */

.dropdown_micro {
  padding: 0 5px 0 11.5px;
}

.dropdown_option_micro {
  padding: 0 10px;
}

.dropdown_small {
  padding: 0 5px 0 12px;
}

.dropdown_option_small {
  padding: 0 12px;
}

.dropdown_large {
  padding: 0 12.25px 0 21.25px;
}

.dropdown_option_large {
  padding: 0 16px;
}

/* ------ VAZIO NO DROP ABERTO  ----- */

.dropdown_option_micro:first-child {
  margin-top: 4px;
}

.dropdown_option_large:first-child {
  margin-top: 12px;
}

/* ---------- ICONS' SIZE --------- */

.dropdown_micro svg {
  width: 18px;
}
.dropdown_micro .inner_left svg {
  width: 15px;
}

.dropdown_small svg {
  width: 22px;
}

.dropdown_small .inner_left svg {
  width: 18px;
}
