.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  /* a borda vai adicionar um pixel de cada lado */
  width: 241px;
  height: 38px;

  background: var(--color-base) !important;
  border: 1px solid var(--color-tertiary-hover);
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
  border-radius: 4px;

  align-self: stretch;
  cursor: pointer;
}
.dropdown img {
  margin-left: 18.25px;
  margin-right: 14.25px;
  width: 16.25px;
  height: 11.25px;
}

.dropdown span {
  margin: 0 !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--color-tertiary-active) !important;
}

.rightImage {
  display: flex;
  align-items: center;
  position: absolute;
  right: 14px;
}
.rightImage img {
  width: 11.25px;
}

.dropdown_content {
  position: absolute;

  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--color-base) !important;

  width: 241px;
  height: 35px;
}

.dropdown_content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  margin-left: 16px;
  color: var(--color-tertiary-active);
}
.dropdown_content:hover {
  background-color: var(--color-tertiary-hover) !important;
}

.dropdown_active {
  border: 1px solid var(--color-primary-active);
}
.dropdown_active img {
  transform: rotate(180deg);
}

.dropdown_filled span {
  color: var(--color-secundary-active) !important;
}
.dropdown_disabled {
  background-color: #f9f9f9 !important;
  pointer-events: none;
}
.dropdown_disabled span {
  color: var(--color-icon-element) !important;
}
