.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left:
  width: 100%;
  min-width: 241px;
  height: 46px;
  background: var(--color-base) !important;
  border: 1px solid var(--color-tertiary-hover);
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
  border-radius: 4px;
  align-self: stretch;
  cursor: pointer;
}

.dropdown_inner {
  display: flex;
  align-items: center;

  gap: 14px;

  
}

.left_img {
  display: flex;
  margin-left: 18.25px;
  margin-right: 14.25px;
}

.dropdown span {
  margin: 0 !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: var(--color-tertiary-active) !important;
}

.rightImage {
  display: flex;
  align-items: center;

  position: absolute;
  right: 17px;
}

.dropdown_content {
  position: absolute;

  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--color-base) !important;
  border: 1px solid var(--color-icon-background);
  width: 241px;
  height: 40px;
}

.dropdown_content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-left: 16px;
  color: var(--color-tertiary-active);
}

.dropdown_active {
  border: 1px solid var(--color-primary-active);
}
.dropdown_active img {
  transform: rotate(180deg);
}

.dropdown_filled span {
  color: var(--color-secondary-active) !important;
}
.dropdown_disabled {
  background-color: #f9f9f9 !important;
  pointer-events: none;
}
.dropdown_disabled span {
  color: var(--color-icon-element) !important;
}

.dropdown_large {
  height: 62px;
}

.dropdown_large span {
  font-size: 18px;
}

.dropdown_content_large {
  height: 60px;
}

.dropdown_content_large p {
  font-size: 18px;
  line-height: 28px;
  margin-left: 16px;
}

.dropdown_micro {
  height: 30px;
}

.dropdown_micro span {
  font-size: 14px;
  line-height: 20px;
}

.rightImage_micro {
  right: 14px;
}

.dropdown_content_micro {
  height: 30px;
}

.dropdown_content_micro p {
  font-size: 14px;
  line-height: 20px;

  margin-left: 16px;
}

.dropdown_small {
  height: 38px;
}

.dropdown_small span {
  font-size: 14px;
  line-height: 20px;
}

.rightImage_small {
  right: 14px;
}

.dropdown_content_small {
  height: 35px;
}

.dropdown_content_small p {
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
}

.dropdown_content_first {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown_content_last {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown_content:hover {
  border: 1px solid;
  border-color: var(--color-feedback);
  margin-bottom: 3px;
}
