.InputText_inputText_inputDefault__YTpTz {
    width: 520px !important;
}

.InputText_inputText_inputLarge__5Huwp {
    width: 520px !important;
    height: 186px !important;
    padding-bottom: 150px !important;
    padding-top: 16px !important;
}
.InputText_inputText_inputLarge__5Huwp > input {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.SimpleButton_small__dSZMs {
    width: 174px !important;
    height: 40px !important;
    padding: 0px 30px !important;
}
