.div_container {
  /* background-color: red; */
  width: 400px;
  height: 400px;
  cursor: pointer;
  position: absolute;
}

.container_geral {
  position: relative;
  width: 600px;
  height: 600px;
  /* background-color: blueviolet; */
}

.iframe_container {
  /* z-index: -1000; */
  background-color: aqua;
  position: absolute;
  position: fixed;
  background-size: cover;

  /* right: 0; */
  /* top: 0; */
  /* min-width: 100%;
  min-height: 100%; */
  /* width: auto;
  height: auto; */
}
