@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.home_container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background-color: var(--color-input);
  overflow-y: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left_content {
  width: 1252px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.user_menu {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 272px;
  height: 810px;

  background: var(--color-base);
  border: 1px solid var(--color-icon-background);
  border-radius: 4px;
}

.user_image {
  width: 132px;
  height: 132px;
  border: 2.25084px solid #9dba2b;
  border-radius: 66px;
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 110px;
  height: 110px;
  border-radius: 60px;
}
.user_name {
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;

  color: #1b1b1b;
}

.user_title {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1b1b;
  opacity: 0.7;
}

.user_status {
  margin-top: 24px;
  width: 212px;
  height: 80px;
}

.user_status_content {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #d4d4d4;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  height: 40px;
}

.user_status_lvl {
  margin-left: 7px;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  line-height: 150%;
  color: #1b1b1b;
}

.user_status_exp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1b1b1b;
}

.user_status_exp > strong {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #1b1b1b;
}
.divisor {
  width: 1px;
  height: 24px;
  background: #1b1b1b;
  opacity: 0.1;
  margin: 0px 12px;
}

.user_progress_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 40px;
  background: #3b3b3b;
}

.hr_divisor {
  height: 1px;
  width: 100%;
  margin: 40px 30px;
  background: #d4d4d4;
}
.emblems {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 30px;
  gap: 8px;
}
.emblems_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.emblems_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b;
}

.emblems_icons {
  margin-top: 24px;
  display: flex;
  gap: 31px;

  opacity: 0.6;
  /* Cores/Branco +2 */

  width: 212px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: center;
}
