.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}
.class_container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.left_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.class_class {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.class_title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.class_title > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;

  color: #1b1b1b;
}

.class_video {
  width: 1040px;
  height: 585px;
  position: relative;
}

.container_firstClick {
  width: 1040px;
  height: 585px;
  cursor: pointer;
  position: absolute;
}

.video_teste {
  width: 1040px;
  height: 585px;
  position: absolute;
  background-size: cover;
}

.class_description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 840px;
}

.class_description > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b;
}

.class_description > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #706e64;
}

.class_class_list {
  padding-top: 20px;
  min-width: 376px;
  height: 992px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
}

.class_class_list > h1 {
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 20px;
}
