.container_card {
  width: 1440px;
  height: 186px;
  background-color: var(--color-base);
  border: 1px solid #838383;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.content_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1376px;
  height: 122px;
  padding: 34px 32px;
}

.description_card {
}

.legend_card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-tertiary);
  letter-spacing: 1px;

  margin-bottom: 16px;
}

.title_card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;

  color: var(--color-secondary-active);
}

.container_status_card {
  display: flex;
  gap: 11px;

  margin-top: 19px;
}

.status_card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-secondary-active);
}

.actions_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
