.container_card {
  /* background-color: red; */
  width: 544px;

  box-sizing: border-box;
  /* background: #ffffff; */

  border: 1px solid #d4d4d4;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  margin: 0 32px;
}

.title {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  justify-content: space-between;
}

.title > h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #1b1b1b;
}

.body_modal {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin: 0 24px; */
}

.step {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3b3b3b;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field_2 {
  flex-direction: row;
  gap: 16px;
}

.title_field {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1b1b;
}

.buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}
