.btn_social_primary,
.btn_social_secundary {
  background-color: transparent;
  color: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  width: 236px;
  height: 56px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn_social_p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

/* Primary */
.btn_social_primary {
  background-color: var(--color-secundary);
}
.btn_social_primary:hover {
  background-color: var(--color-secundary-hover);
}

/* Secondary */

.btn_social_secundary {
  color: var(--color-secundary-active);
  border: 1px solid var(--color-secundary-active);
}

.btn_social_secundary:hover {
  border: 2px solid var(--color-secundary-active);
}

.btn_social_primary:active,
.btn_social_secundary:active {
  transform: scale(0.9);
}
