.modal_outside {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .modal_container {
    
    width: 376px;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    background-color: var(--color-base);
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
  }

  .modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px 20px 20px;
    border-bottom: 1px solid var(--color-opacity-1);
  }

  .modal_header_text{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .modal_header_title{
    width: 106px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;

    color: var(--color-secondary-hover);
  }

  .modal_header_description{
    width: 173px;
    height: 19px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    
    color: var(--color-tertiary);

  }
  
  .modal_header_escape {
    cursor: pointer;
    color: var(--color-tertiary);
    
  }
  
  