.card_container,
.card_container_embassador {
  width: 204px;
  height: 288px;
  background-color: var(--color-input);
  border: 1px solid var(--color-icon-background);
  border-radius: 4px;
}

.card_container_embassador {
  height: 244px;
}

.card_container_inner,
.card_container_inner_embassador {
  padding: 24px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  word-break: break-word;
  height: 244px;
}
.card_container_inner_embassador {
  height: 204px;
}

.card_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.card_info svg {
  transform: scale(1.7);
  margin-top: 24px;
  z-index: 0px;
}
