.button_container {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--color-base);
  background-color: var(--color-secondary);
  font-size: var(--paragraphy);
  padding: 10px 14px;
}

.button_container:hover {
  background-color: var(--color-secondary-hover);
}

.button_container:active {
  background-color: var(--color-secondary);
}
