.module_container,
.module_container_closed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 348px;

  height: 48px;

  background: var(--color-input);

  border: 1px solid var(--color-icon-background);
  border-radius: 4px;
  cursor: pointer;
}
.module_container_closed:hover {
  border: 1px solid var(--color-tertiary-hover);
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
}

.module_container .right_side svg {
  transform: rotate(90deg);
}

.left_side {
  display: flex;
  align-items: center;
  margin-left: 13.25px;
  gap: 9.25px;
}

.left_side svg path {
  width: 20px;
}
.right_side {
  display: flex;
  align-items: center;
  margin-right: 17.25px;
}

.right_side svg {
  width: 16px;
  height: 120px;
}

.container {
  outline: 1px solid var(--color-icon-background);
  border-radius: 4px;
}
.acordeon_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  min-width: 348px;
  cursor: pointer;
}
.acordeon_item:hover {
  background-color: #e2fa85;
}

.acordeon_left_side {
  display: flex;
  align-items: center;
  margin-left: 13.25px;
  gap: 9.25px;
}

.acordeon_right_side {
  display: flex;
  align-items: center;
  margin-right: 17.25px;
}

.acordeon_left_side svg path {
  width: 20px;
}

.acordeon_right_side svg {
  width: 16px;
  height: 120px;
}

.module_disabled {
  pointer-events: none;
  color: var(--color-tertiary);
}

.padlock_border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19.5px;
  height: 19.5px;
  border: 2px solid var(--color-tertiary);
  border-radius: 3px;
}
.module_disabled svg {
  width: 15px;
}
