.accordion {
  border-radius: 4px;
  background-color: var(--color-secondary);
}

.accordion:hover {
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
}


.accordion_date>svg>path {
  fill: var(--color-secondary);
}

.accordion_blackBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 24px;
  gap: 12px;
  padding: 0 12px;
  border-radius: 4px 4px 0px 0px;
  padding-bottom: 4px;
  padding-top: 6px;
}

.accordion_body {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  border-top: none;
}

.accordion_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 48px;
}

.accordion_label_left,
.accordion_label_right {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}

.accordion_active {
  margin: 14px 22px;
}

.accordion_activeText {
  border-bottom: 1px solid #d4d4d4;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 10px 0;
}

.accordion_activeText>p {
  margin: 10px 0;
}

.small {
  width: 336px;
}

.large {
  width: 588px;
}

img {
  transition: all 0.3s ease-in-out;
}

.accordion_tags>span {
  padding: 0px 4px;
  background: #BDE034;
  border: 1px solid rgba(27, 27, 27, 0.3);
  border-radius: 150px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #3B3B3B;
}

.accordion_activeText:last-child {
  border: none;
}

.accordion_tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.accordion_footer {
  display: flex;
  flex-direction: row-reverse;
  color: #706E64;
  margin-top: 10px;
  margin-bottom: 12px;
}