.container {
  margin-left: 50px;
  margin-right: 24%;
}

.graph_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.graph_header h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.graph_container {
  width: 100%;
  height: 447px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.graph_inner_container {
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 32px;
}

.graph_inner_container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.switch_skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card_content_line {
  margin-top: 18px;
  margin-bottom: 30px;
  width: 100%;
  height: 0px;
  border: 1px solid var(--color-icon-background);
  flex: none;
  flex-grow: 0;
}
