.cardContainer {
  width: 287px;
  height: 319px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-base);

  border: 1px solid #d4d4d4;
  border-radius: 4px;

  padding: 52px 41px;

  box-sizing: border-box;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6px;
}

.infoContainer h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;

  color: var(--color-secondary);
}

.roleAndEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roleAndEmail p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #1b1b1b;

  opacity: 0.7;
}

.avatarAndLevel {
  margin-bottom: 15px;
}
