.menu_body_item_img {
  /* width: 25px; */
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

.menu_body_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
  transition: all 0.2s ease-in;
  height: 50px;
  /* min-width: 300px; */
}

.menu_body_item_closed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  transition: all 0.144s ease-in;
}

.menu_body_item:hover,
.menu_body_item_closed:hover {
  cursor: pointer;
  background-color: var(--color-progressbar-external-dark);
}
.menu_body_item_text {
  font-size: 15px;
  font-weight: 300;
}
