.card_container {
  width: 204px;
  height: 288px;
  background-color: var(--color-input);
  border: 1px dashed var(--color-icon-background);
  border-radius: 4px;
  margin-bottom: 16px;
}

.card_inner_container {
  padding: 24px 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.card_inner_container span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color);
}

.card_inner_container span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--color);
}

.card_inner_container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--color-tertiary-active);
  margin-bottom: 40px;
}

.inner_container svg {
  transform: scale(1.8);
  margin-top: 24px;
  margin-bottom: 12px;
}
