.text_container {
}

.text_container > div {
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-top: none;
  border-left: none;;
  border-radius: 0;
}
