.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b;
  margin-bottom: 8px;
}

p {
  /* margin-top: 8px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #706e64;
}

.card_container {
  /* background-color: red; */
  width: 464px;
  min-height: 808px;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;

  border: 1px solid #000000;
  border-radius: 4px;
}

.card_container > h1 {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  color: #3b3b3b; */

  /* font-size: 20px;
   */
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b;
  margin-bottom: 8px; */
}

.informacoes_praticas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info_nivel {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 31px;
}

.informacoes_praticas > h1 {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b; */
}

.info_description {
  width: 208px;
}

.info_description > p {
  /* margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #706e64; */
}

.topicos {
  margin-bottom: 8px;
}
