.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #3b3b3b;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #706e64;
}

.card_container {
  width: 464px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 32px;

  border: 1px solid #000000;
  border-radius: 4px;
}

.practical_information {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info_nivel {
  display: flex;
  align-items: center;
  gap: 31px;
}

.info_description {
  width: 208px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.learning_skills_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
