.modal_newGoal {
  display: flex;
  padding: 24px;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--color-opacity-1);
  background-color: var(--color-input);
}

.modal_newGoal p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-secondary);
}

.modal_newGoal:hover {
  cursor: pointer;
}

.modal_newGoal_icon {
  color: var(--color-tertiary);
}

.modal_newGoal_action {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 20px;
  background-color: var(--color-input);
  border-bottom: 1px solid var(--color-opacity-1);
}

.modal_newGoal_action_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_newGoal_action_header p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-secondary);
}

.modal_newGoal_action button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-base);
}

.dropdown_container_open,
.dropdown_container_closed {
  display: flex;
  flex-direction: column;
  max-height: 24px;
  transition: max-height 0.1s ease-in-out;
  border-bottom: 1px solid var(--color-opacity-1);
  padding: 20px;
  background-color: var(--color-base);
  gap: 12px;
}

.dropdown_container_open {
  max-height: 2000px !important;
  background-color: var(--color-input);
  transition: max-height 0.5s ease-in-out;
}

.dropdown_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown_header_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.dropdown_header_img_toggle,
.dropdown_header_img_toggle_closed {
  color: var(--color-tertiary);
  transition: all 0.3s ease;
}

.dropdown_header_img_toggle_closed {
  transition: all 0.3s ease;
}

.dropdown_header_img_toggle:hover {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.dropdown_header_icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.dropdown_header_icons_open {
  display: flex;
  gap: 10px;
}

.dropdown_header_icons_open_svg:hover > svg > path {
  fill: var(--color-tertiary);
}

.dropdown_header_icons_open_svg:hover {
  cursor: pointer;
}

.delete_modal_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 12px;

  left: 20px;
  margin-top: 20px;
  z-index: 20;

  padding: 16px;
  width: 304px;

  background-color: var(--color-input);
}

.delete_modal_container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete_modal_container_header p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-secondary);
}

.delete_modal_container_header_esc {
  color: var(--color-tertiary);
}

.delete_modal_container_header_esc:hover {
  cursor: pointer;
}

.delete_modal_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;

  background-color: var(--color-feedback-error);
  border: 1px solid var(--color-feedback-error-activer);
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-base);
}

.update_modal_container {
  display: flex;
  position: absolute;
  justify-content: space-between;

  left: 16px;
  z-index: 20;

  /* padding: 0px 16px; */
  width: 336px;

  background-color: var(--color-input);
  border-bottom: 1px solid var(--color-opacity-1);
}

.modal_input {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-input);
  color: var(--color-secondary-hover);
  width: 300px;
}

.modal_input:focus-visible {
  outline: none;
  border: none;
}

.update_modal_icon {
  color: var(--color-tertiary);
}

.dropdown_content_open,
.dropdown_content_closed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 1;
  transition: opacity 0.5s linear;
  transition-delay: 0.25s;
}

.dropdown_content_closed {
  opacity: 0;
  transition: opacity 0.1s linear;
  transition-delay: 0s;
}

.dropdown_content_progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  transition: max-height 0.8s ease-in-out;
}

.dropdown_content_quantity {
  display: flex;
}

.dropdown_content_quantity p {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-secondary);
}

.dropdown_content_quantity span {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-tertiary);
}

.dropdown_content_checkbox {
  visibility: hidden;
}

.dropdown_content_goals {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.dropdown_content_goals_create {
  display: flex;
  justify-content: space-between;

  width: 340px;

  background-color: var(--color-input);
  border-bottom: 1px solid var(--color-opacity-1);
}

.dropdown_content_goals_create_button {
  width: 136px;
  height: 37px;
  align-content: center;
  background-color: var(--color-input);

  border: 1px solid var(--color-icon-disable);
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-secondary);
  transition: all 0.5s;
}

.dropdown_content_goals_create_button:hover {
  cursor: pointer;
  background-color: var(--color-icon-disable);
  transition: all 0.5s;
}

.dropdown_content_goals_checkbox_container {
  display: flex;

  justify-content: space-between;
}

.dropdown_content_goals_checkbox_container:hover
  .dropdown_content_goals_checkbox_actions {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.dropdown_content_goals_checkbox {
  max-width: 320px !important;
}

.dropdown_content_goals_checkbox_actions {
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: all 0.3s;
}

.update_goal_modal_container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  opacity: 1 !important;

  margin-top: -20px;
  left: 16px;
  z-index: 20;

  /* padding: 0px 16px; */
  width: 340px;

  background-color: var(--color-input);
  border-bottom: 1px solid var(--color-opacity-1);
}

.delete_modal_container_goal {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 12px;

  left: 20px;
  z-index: 25;

  padding: 16px;
  width: 304px;

  background-color: var(--color-input);
}

.delete_modal_container_goal {
  cursor: default;
}

.delete_modal_container_goal button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;

  background-color: var(--color-feedback-error);
  border: 1px solid var(--color-feedback-error-activer);
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-base);
}

.delete_modal_container_goal button:hover {
  cursor: pointer;
}

.dropdown_noGoals_container {
  margin-top: 56px;
  padding: 0px 81px;
  display: flex;
}

.dropdown_noGoals_inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.dropdown_noGoals_inner img {
  width: 48px;
  height: 48px;
}

.dropdown_noGoals_inner p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--color-tertiary-active);
}
