.progress_container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 1581px;
  min-height: 652px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;

  width: 1581px;
  height: 72px;
}
.fields {
  display: flex;
  flex-direction: row;
  gap: 29px;
}

.fields svg {
  cursor: pointer;
}
.dropdown_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown_container span {
  font-size: 12px;
  line-height: 16px;

  color: var(--color-tertiary-active);
}

.course_name {
  width: 100%;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}
.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px 60px;
}
