.container_extern{
    padding-left: 50px;
    padding-top: 24px;
    width: 43%;
}

.breadcrumb{
    width: 30%;
}

.table_header{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 24px;
}

.table_header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_header_inner_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-secondary);
}