:root {
  --color-base: #ffffff;
  --color-opacity-1: rgba(0, 0, 0, 0.1);
  --color-opacity-2: rgba(0, 0, 0, 0.2);
  --color-opacity-white: rgba(255, 255, 255, 0.2);
  --color-input: #f9f9f9;
  --color-input-outline: #82a8f8;
  /* Primary */
  --color-primary: #d3fa3a;

  --color-primary-hover: #e2fa84;
  --color-primary-active: #bde034;

  /* Secondary */
  --color-secondary: #1b1b1b;
  --color-secondary-hover: #3b3b3b;
  --color-secondary-active: #1b1b1b;

  /* tertiary */
  --color-tertiary: #838383;
  --color-tertiary-hover: #b6b4b4;
  --color-tertiary-active: #706e64;

  /* Feedback */
  --color-item-selected: #1942c6;
  --color-feedback: #2c60f5;
  --color-feedback-success: #48a135;
  --color-feedback-success-text: #0e3e25;

  --color-feedback-warning: #facc15;
  --color-feedback-warning-text: #b26b1a;

  --color-feedback-error: #da1e28;
  --color-feedback-error-hover: #da6066;
  --color-feedback-error-activer: #b31921;

  /* Icon */
  --color-icon-disable: #d9d9d9;
  --color-icon-element: #b6b4b4;
  --color-icon-background: #d4d4d4;

  /* Toast Colors */

  /* Info */
  --color-toast-info: #191e6c;
  --color-toast--light-info: #dedff7;

  /* Success */
  --color-toast-success: #0e3e26;
  --color-toast--light-success: #def7ea;

  /* Warning */
  --color-toast-warning: #59360d;
  --color-toast--light-warning: #faecdb;

  /* Error */
  --color-toast-error: #6c191d;
  --color-toast--light-error: #f7dedf;

  /* Tag */
  --color-tag-dark: #4750d5;
  --color-tag-light: #f3f3fc;
  --color-tag-font-light: #222995;
  --color-tag-hover-dark: #2c35bf;
  --color-tag-pressed-light-background: #c9ccf3;
  --color-tag-pressed-light-font: #0f1242;
}
