@import url(./reset.css);
@import url(./colors.css);
@import url(./sizes.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
*::-webkit-scrollbar {
  background: transparent;
  width: 14px;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background: var(--color-icon-background);
  background-clip: padding-box;
  border-radius: 12px;
  width: 6px;
}
*::-webkit-scrollbar-thumb:hover {
  border: 3px solid transparent;
  background: var(--color-tertiary-hover);
  background-clip: padding-box;
  border-radius: 12px;
}

=======
>>>>>>> screen/course
body {
  overflow-x: hidden;
}
