.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.container_cursos {
  margin: 24px 104px 31px 96px;
  width: 1442px;
  overflow: hidden;
}

.title {
  height: 80px;
  padding-top: 13px;
  padding-right: 34px;

  display: flex;
  justify-content: space-between;
}

.title > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;

  color: #1b1b1b;
}

.title_buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title > p {
  margin-top: 11px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.noCards {
  height: 100%;
  display: flex;
  justify-content: center;
}

.curso {
  width: 1440px;
  height: 186px;
}

.no_courses {
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14.5px;
}

.no_courses > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #706e64;
}
