.menu_container_open,
.menu_container_closed {
  width: 280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-right: 1px solid var(--color-opacity-1);
}

.menu_container_closed {
  width: 70px;
}

.menu_header_open,
.menu_header_closed {
  width: 100%;
  height: 70px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.menu_header_closed {
  align-items: center;
  justify-content: flex-start;
}

.menu_header_img_toggle,
.menu_header_img_toggle_closed {
  position: absolute;
  bottom: -25%;
  right: -18px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.menu_header_img_toggle_closed {
  bottom: -18px;
  right: -18px;
  transition: all 0.3s ease-in;
}

.menu_body_open,
.menu_body_closed {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_body_closed {
  align-items: center;
}

.menu_header_img_toggle:hover {
  transform: rotate(180deg);
  color: var(--color-opacity-white);
}

.menu_header_img {
  margin-left: 14px;
}

.menu_inner_open,
.menu_inner_closed {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.fotter_menu_open,
.fotter_menu_closed {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* .fotter_menu_closed {
  align-items: center;
  gap: 20px;
} */
.divider,
.divider_closed {
  width: 100%;
  height: 1px;
  background-color: var(--color-opacity-1);
}

.avatar {
  margin-top: 22px;
  margin-left: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

.avatar > span {
  font-size: 14px;
}
.avatar_desc > small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #000000;

  opacity: 0.5;
}
.avatar_desc {
  display: flex;
  flex-direction: column;
}
