.header_container {
  background-color: var(--color-base);
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--color-opacity-1);
}

.header_inner {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_inner > a {
  margin-right: 20px;
}
