.LastGoalsCard_container {
  display: flex;
  flex-direction: column;
  max-width: 368px;
  min-width: 357px;
  /* height: 198px; */
  gap: 24px;
}

.LastGoalsCard_title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.LastGoalsCard_title h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-secondary);
}

.LastGoalsCard_info {
  display: flex;
  flex-direction: column;
  max-width: 328px;
  min-width: 309px;
  /* height: 110px; */
  padding: 16px 20px;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.LastGoalsCard_inner {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}

.LastGoalsCard_inner_info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 40px;
  gap: 4px;
}

.LastGoalsCard_info h1 {
  color: var(--color-secondary-hover);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.LastGoalsCard_info p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-tertiary-active);
}

.LastGoalsCard_arrow {
  color: var(--color-tertiary);
  height: 17.5px;
  cursor: pointer;
}

.LastGoalsCard_line {
  max-width: 328px;
  min-width: 309px;
  height: 0px;
  opacity: 0.1;
  border: 0.5px solid var(--color-secondary);
  background-color: var(--color-secondary);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.LastGoalsCard_progress {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
}

.progress_Goals {
  display: flex;
}

.progress_Goals p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-secondary);
}

.progress_Goals span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-tertiary);
}

.placeholder {
  height: 24px;
  width: 24px;
}

.seeDetailsButton {
  padding-top: 10px;
}

.cardTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

  color: var(--color-secondary);
}
