.dropdown_container_open,
.dropdown_container_closed{
    display: flex;
    flex-direction: column;
    max-height: 44px;
    transition: height 0.4s ease-out;
    border-top: 1px solid var(--color-opacity-1);
    border-bottom: 1px solid var(--color-opacity-1);
    padding: 20px;
    background-color: var(--color-base);
}

.dropdown_container_open{
    height: fit-content;
    min-height: 110px;
    background-color: var(--color-input);
}

.dropdown_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown_header_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.dropdown_header_img_toggle,
.dropdown_header_img_toggle_closed{
    color: var(--color-tertiary);
    transition: all 0.3s ease-in-out;
}

.dropdown_header_img_toggle_closed{
    transition: all 0.3s ease-in-out;
}

.dropdown_header_img_toggle:hover{
    transform: rotate(180deg);
}