.container {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: space-evenly;
}
.trilhas_container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-base);
  max-width: 1500px;
  margin: 40px 10px;
}
.trilhas_container .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  width: 539px;
  margin-bottom: 14px;
}

.trilhas_container .description {
  width: 539px;
  font-size: 16px;
  line-height: 150%;
}

.cards_container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 0px;
}

.teste {
  width: 704px;
  background-color: #378cfc;
  height: 318px;
  margin-bottom: 40px;
}
