.login_inner_arrow {
  width: 40%;
  position: absolute;
  bottom: -120px;
  left: 0;
}
.login_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.login_inner {
  flex: 1;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  background-color: var(--color-secondary);
}
.login_inner_title {
  font-size: 3.5rem;
  line-height: 1.4;
  max-width: 400px;
  font-weight: 300;
  color: var(--color-base);
  padding-bottom: 20px;
}
.login_inner_title span {
  color: var(--color-primary);
}
.login_inner_logo {
  width: 145px;
  padding-top: 20px;
}
.login_main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.login_main_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  width: 300px;
}
.login_main_headline {
  font-size: 1rem;
  font-weight: 300;
}
.login_main_img {
  width: 45px;
}

@media all and (max-width: 820px) {
  .login_container {
    flex-direction: column;
  }
  .login_inner {
    padding: 20px;
    gap: 10px;
    max-height: 200px;
  }
  .login_inner_arrow {
    display: none;
  }
  .login_inner_title {
    font-size: 2rem;
  }
  .login_main_headline {
    font-size: 1.8rem;
  }
  .login_main_img {
    width: 50px;
  }
  .login_main {
    flex: 1;
    width: 100%;
  }

  .login_inner_title {
    font-size: 2rem;
  }
}

@media all and (min-width: 820px) and (max-width: 1024px) {
  .login_inner_arrow {
    width: 35%;
  }
  .login_main_headline {
    font-size: 1.8rem;
  }
  .login_main_img {
    width: 50px;
  }
  .login_main {
    width: 400px;
  }
  .login_main_inner {
    width: 300px;
  }
  .login_inner_title {
    font-size: 2.8rem;
  }
}

@media all and (min-width: 1400px) {
  .login_inner_arrow {
    width: 40%;
  }
  .login_main_headline {
    font-size: 1.8rem;
  }
  .login_main_img {
    width: 100px;
  }
}
@media all and (min-width: 1400px) and (max-width: 1919px) {
  .login_inner_arrow {
    width: 25%;
  }
  .login_main_headline {
    font-size: 1.8rem;
  }
  .login_inner_title {
    font-size: 3.5rem;
  }
  .login_main_img {
    width: 50px;
  }
  .login_main {
    width: 700px;
  }
  .login_main_inner {
    width: 400px;
  }
}

@media all and (min-width: 1920px) and (max-width: 2560px) {
  .login_inner_arrow {
    width: 20%;
  }
  .login_main_headline {
    font-size: 1.8rem;
  }
  .login_inner_title {
    font-size: 3.5rem;
  }
  .login_main_img {
    width: 50px;
  }
  .login_main {
    width: 700px;
  }
  .login_main_inner {
    width: 400px;
  }
}
