.background {
  width: 1184px;
  height: 507px;
  position: relative;
}
.line_one {
  position: absolute;
  bottom: 41px;
  right: 822px;
}
.line_two {
  position: absolute;
  bottom: 41px;
  right: 464px;
}
.line_three {
  position: absolute;
  bottom: 41px;
  right: 106px;
}
.stage1 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  position: absolute;
  height: 125px;
  width: 258px;
  left: 59px;
  top: 304px;
}
.stage2 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  position: absolute;
  height: 125px;
  width: 258px;
  left: 403px;
  top: 231px;
}
.stage3 {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  position: absolute;
  height: 125px;
  width: 258px;
  left: 761px;
  top: 159px;
}

.emblem_1 {
  position: absolute;
  top: 217px;
  left: 331px;
}
.emblem_2 {
  position: absolute;
  top: 157px;
  left: 690px;
}
.emblem_3 {
  position: absolute;
  top: 98px;
  left: 1047px;
}

.chat {
  position: absolute;
  top: 39px;
  left: 40px;
}

.chat_text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  color: #ffffff;
}

span {
  font-size: 32px;
  line-height: 38px;
}

.progress_bars {
  position: absolute;
  display: flex;
  top: 449px;
  left: 22px;
  gap: 16px;
}
