.modal_outside {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal_container {
    display: flex;
    flex-direction: column;
  
    min-width: 544px;
    min-height: 189px;
    padding: 24px 24px;
    background-color: var(--color-base);
    border: 1px solid var(--color-icon-background);
    border-radius: 4px;
  }
  
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal_header h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-secondary-active);
  }
  
  .modal_header_icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .modal_header_icon::content svg {
    width: 14px;
    height: 14px;
    color: var(--color-secondary-active);
  }
  
  .modal_divider {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    flex-shrink: 1;
    background-color: #000000;
    opacity: 0.1;
  }
  
  .modal_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .modal_actions {
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 40px;
    gap: 16px;
    align-items: center;
    flex-shrink: 1;
  }
  