/* Course completed */

.container_completed {
  width: 706px;
  height: 318px;
  border-radius: 4px;
  border: 1px solid #bde034;
  position: relative;
}

.effect_image_completed {
  height: 318px;
  width: 263.93px;
  position: absolute;
  background: linear-gradient(
    150.96deg,
    #e2fa85 -8.49%,
    #ffffff 50.75%,
    #e2fa85 112.88%
  );
  mix-blend-mode: multiply;
}

/* ----------------------------------- */

/* Course no-completed */

.container {
  width: 706px;
  height: 318px;
  border: 1px solid #b6b4b4;
  border-radius: 4px;
  position: relative;
}

.effect_image {
  height: 318px;
  width: 263.93px;
  position: absolute;
}

/* ----------------------------------- */

.container_inner {
  display: flex;
  flex-direction: row;
}

.card_image {
  display: flex;
  align-items: center;
  position: relative;
}

.card_image img {
  height: 318px;
  width: 263.93px;
}

.card_content {
  width: 392px;
  height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 42px 24px;

  color: var(--color-base);

  opacity: 1;
}

.card_content_title {
  width: 100%;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-secondary);
}

.card_content_description {
  width: 100%;

  margin-bottom: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-tertiary-active);
}

.card_progressBar {
  color: var(--color-tertiary-active);
}
