.register_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 368px;
  height: 426px;
  /* background-color: var(--color-base); */
}

.register_title {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.register_title_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 4px;
}

.register_title_icon svg {
  width: 20px;
  height: 20px;
}

.register_title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.register_content {
  border: 1px solid var(--color-opacity-1);
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.title {
  padding-left: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
}

.large {
  height: 308px;
}

.small {
  height: 250px;
}

.register_header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.register_header_infos {
  display: flex;
  gap: 160px;
}

.register_header_infos_iconsHours {
  display: flex;
  gap: 12px;
}

.register_header_infos_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.red {
  color: var(--color-feedback-error);
  background: #f8e0e1;
}

.black {
  color: var(--color-base);
  background: var(--color-secondary-hover);
}

.register_header_infos_hoursRegisters {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 74px;
  gap: 4px;
}

.register_header_infos_hours {
  display: flex;
  align-items: flex-end;
}

.register_header_infos_hoursDone {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-secondary);
}

.register_header_infos_hoursTotal {
  font-weight: bold;
  color: var(--color-tertiary-active);
}

.register_header_infos_register {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-tertiary-active);
}

.register_header_infos_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.register_header_infos_arrow svg {
  color: var(--color-tertiary-active);
}

.register_body {
  padding: 16px 4px 16px 16px;
}

.bodySmall {
  height: 122px;
}

.register_body_title {
  display: flex;
  justify-content: space-between;
}

.register_body_title p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-tertiary);
}

.register_body_title_time {
  margin-right: 6px;
}

.register_body_infos {
  padding-right: 6px;
  height: 110px;
  overflow: auto;
}

.heightBodyInfosHome {
  height: 210px;
}

.btnHours {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 340px;
  height: 40px;
  background: var(--color-secondary);
  border: var(--color-opacity-white);
  border-radius: 4px;
  color: var(--color-base);
  cursor: pointer;
  margin-left: 16px;
}

.btnHours:hover {
  background: var(--color-secondary-hover);
}
