.inputText_containerBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.inputText_containerLarge,
.inputText_containerDefault,
.inputText_containerSmall,
.inputText_containerMicro {
  display: flex;
  flex-direction: column;
  width: 329px;
}

.inputText_containerLarge {
  gap: 12px;
}

.inputText_containerDefault {
  gap: 8px;
}

.inputText_containerSmall,
.inputText_containerMicro {
  gap: 4px;
}

.inputText_labelLarge,
.inputText_labelDefault,
.inputText_labelSmall,
.inputText_labelMicro {
  font-style: normal;
  font-weight: 500;
  color: var(--color-secondary);
}

.inputText_labelLarge {
  font-size: 18px;
}

.inputText_labelDefault {
  font-size: 16px;
}

.inputText_labelSmall,
.inputText_labelMicro {
  font-size: 14px;
}

.inputText_inputBlock {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 14px;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid var(--color-tertiary-hover);
  border-radius: 4px;
}
.inputText_inputLarge,
.inputText_inputDefault,
.inputText_inputSmall,
.inputText_inputMicro {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 14px;
  width: 329px;
  background-color: transparent;
  border: 1px solid var(--color-tertiary-hover);
  border-radius: 4px;
}

.inputText_inputLarge {
  padding: 0px 16px;
  height: 64px;
}

.inputText_inputBlock,
.inputText_inputDefault {
  padding: 0px 12px;
  height: 48px;
}

.inputText_inputSmall {
  padding: 0px 8px;
  gap: 10px;
  height: 40px;
}

.inputText_inputMicro {
  padding: 0px 8px;
  gap: 6px;
  height: 32px;
}

.inputText_inputLarge:focus,
.inputText_inputDefault:focus,
.inputText_inputBlock:focus,
.inputText_inputSmall:focus,
.inputText_inputMicro:focus,
.inputText_inputLarge:focus-within,
.inputText_inputBlock:focus-within,
.inputText_inputDefault:focus-within,
.inputText_inputSmall:focus-within,
.inputText_inputMicro:focus-within {
  border: 1px solid var(--color-feedback);
  box-shadow: 0px 0px 0px 4px rgba(71, 80, 213, 0.15);
  border-radius: 4px;
}

.inputText_inputLarge:hover,
.inputText_inputBlock:hover,
.inputText_inputDefault:hover,
.inputText_inputSmall:hover,
.inputText_inputMicro:hover {
  border: 1px solid var(--color-tertiary);
  box-shadow: 0px 0px 0px 4px rgba(108, 111, 147, 0.1);
  border-radius: 4px;
}

.inputText_iconLarge > svg > path,
.inputText_iconDefault > svg > path,
.inputText_iconSmall > svg > path,
.inputText_iconMicro > svg > path {
  fill: var(--color-tertiary-active);
}

.inputText_iconLarge svg,
.inputText_iconDefault svg {
  width: 24px;
  height: 24px;
}

.inputText_iconSmall svg {
  width: 16px;
  height: 17px;
}

.inputText_iconMicro svg {
  width: 13px;
  height: 13px;
}

.inputText_iconSmall,
.inputText_iconMicro {
  display: flex;
  align-items: center;
}

.inputText_fieldLarge,
.inputText_fieldDefault,
.inputText_fieldSmall,
.inputText_fieldMicro {
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: var(--color-secondary);
}

.inputText_fieldLarge {
  width: 100%;
  height: 28px;
}

.inputText_fieldDefault {
  width: 100%;
  height: 24px;
}

.inputText_fieldSmall {
  width: 100%;
  height: 20px;
}

.inputText_fieldMicro {
  width: 100%;
  height: 20px;
}

.inputText_fieldLarge::placeholder,
.inputText_fieldDefault::placeholder,
.inputText_fieldSmall::placeholder,
.inputText_fieldMicro::placeholder {
  font-style: normal;
  font-weight: 400;
  color: var(--color-tertiary-active);
}

.inputText_fieldLarge::placeholder {
  font-size: 18px;
}

.inputText_fieldDefault::placeholder {
  font-size: 16px;
}

.inputText_fieldSmall::placeholder,
.inputText_fieldMicro::placeholder {
  font-size: 14px;
}

.inputText_caption {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-tertiary-active);
}
