.contract_outer_container {
  padding-left: 3.5%;
  padding-right: 10%;
  padding-top: 24px;
}

.contract_inner_container {
  display: flex;
  justify-content: space-between;
}

.contract_status {
  max-width: 65%;
}

.breadcrumb {
  width: 8.5%;
}

.contract_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.contract_status h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.contract_status p {
  margin-bottom: 24px;
  opacity: 0.7;
}

.contract_info h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
}

.contract_info_card {
  height: inherit;
  width: 22vw;
  min-width: 300px;
  max-width: 420px;

  border-radius: 4px;
  background: var(--color-input);
  border: 1px solid var(--color-icon-background);
  padding: 6%;
  margin-bottom: 24px;
}

.contract_info_card_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contract_info_card_content span {
  margin-bottom: 20px;
}

.contract_info_card_content p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-secondary);
}

.contract_info_card_content small {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-secondary);
  opacity: 0.7;
  margin-top: 8px;
}

.card_content_line {
  width: 100%;
  height: 0px;
  border: 1px solid var(--color-icon-background);
  flex: none;
  flex-grow: 0;
}

.contract_progress_bar {
  margin-bottom: 64px;
}

.cards_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.contract_current_status {
  width: 90vh;
  display: flex;
  height: 80px;
  background: var(--color-base);
  border: 1px solid var(--color-icon-background);
  border-radius: 8px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 54px;
}

.contract_current_status_text {
  margin-top: 12px;
  margin-left: 24px;
}

.contract_current_status_text h1 {
  margin-bottom: 8px;
}
.contract_current_status_text p {
  margin-bottom: 0px;
}

.contract_current_status_text input {
  width: 385px;
}

.contract_current_status_tag {
  margin-top: 16px;
  margin-right: 24px;
}

.edit_buttons {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1395px) {
  .contract_inner_container {
    flex-direction: column;
  }
}
