@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    -webkit-text-size-adjust: 100% !important;
    overflow: visible !important;
}

.register_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F5F5F5;
}

.register_content {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.register_header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 24px 0;
}

.register_breadcrumb {
    width: 600px;
}

.register_body {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.register_registerTasks {
    width: 600px;
}

.container_title {
    width: 181px;
    height: 24px;
    padding: 0px 0px 16px 0px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}


.register_reminders {
    width: 450px;
}

/* Search Calendar */

.searchTasks_container {
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 32px !important;
    gap: 16px !important;

    width: 385px !important;
    height: 1012px !important;

    background: var(--color-base) !important;
    border: 1px solid var(--color-icon-background) !important;
    border-radius: 4px !important;

}

.searchTasks_inputSearch {
    gap: 32px !important;
    width: 308px !important;
}

.searchTasks_CalendarTitle,
.searchTasks_TasksTitle {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    gap: 20px !important;
}

.searchTasks_CalendarTitle p,
.searchTasks_TasksTitle p {
    font-weight: 500;
    font-size: 20px;
}

.searchTasks_Tasks p {
    font-size: 16px;
}