.evaluationScreen_container_extern{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-input);
}

.evaluationScreen_container{
    width: 86.8%;
    max-width: 1421px;
    min-width: 600px;
    height: 100%;
    padding-top: 24px;
    padding-right: 166px;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
}

.evaluationScreen_breadcrumb{
    width: 9.4%;
    margin-bottom: 24px;
    /* background-color: red; */
}

.evaluationScreen_header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.evaluationScreen_text{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.evaluationScreen_text h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-secondary);
}

.evaluationScreen_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-secondary-hover);
}

.evaluationScreen_dropdown{
    /* width: 11.3%; */
    margin-top: 29px;
    /* width: 185px; */

}

.evaluationScreen_table_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    height: 380px;
    
    background-color: var(--color-base);
    border: 1px solid var(--color-icon-background);
    border-radius: 4px;
}

.evaluationScreen_table_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}