.playground_container {
  display: flex;
  padding: 2%;
  height: 100vh;
  gap: 10px;
  background-color: var(--color-base);
}

.playground_container_inner {
  display: flex;
  flex-direction: column;
  width: 1500px;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.main_content {
  display: inline-block;
  position: relative;
}

.main_content > iframe {
  vertical-align: top;
  pointer-events: none;
}
