
:root {
  --tooltip-background-color: #3b3b3b;   /* ----- Adicionar no colors.css  ----- */
  --tooltip-border-color: #9dba2b;    /* ----- Adicionar no colors.css  ----- */
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 16px;
}

/* Wrapping */
.tooltip_wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.tooltip_tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  color: var(--color-base);
  background: var(--tooltip-background-color);
  font-size: 16px;
  line-height: 24px;
  width: max-content;
  max-width: 384px;
}

/* CSS border triangles */
.tooltip_tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.tooltip_tip_top {
  top: calc(var(--tooltip-margin) * -1.6);
  border-bottom: 8px solid var(--tooltip-border-color);;
  margin-top: -20px;
}

.tooltip_tip_top-right::before {
  top: 100%;
  border-top-color: var(--tooltip-border-color);;
  transform: translateX(-90%);
}

.tooltip_tip_top-right {
  top: calc(var(--tooltip-margin) * -1.2);
  border-bottom: 8px solid var(--tooltip-border-color);;
  margin-top: -30px;
  left: 100%;
  transform: translateX(-45%);
}

.tooltip_tip_top-left::before {
  top: 100%;
  border-top-color: var(--tooltip-border-color);;
  transform: translateX(250%);
}

.tooltip_tip_top-left {
  top: calc(var(--tooltip-margin) * -1.2);
  border-bottom: 8px solid var(--tooltip-border-color);;
  margin-top: -30px;
  left: 100%;
  transform: translateX(-100%);
}

.tooltip_tip_top::before {
  top: 100%;
  border-top-color: var(--tooltip-border-color);;
}

/* Absolute positioning */
.tooltip_tip_right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left: 8px solid var(--tooltip-border-color);;
}
/* CSS border triangles */
.tooltip_tip_right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-border-color);;
}

/* Absolute positioning */
.tooltip_tip_bottom {
  bottom: calc(var(--tooltip-margin) * -2.2);
  border-top: 8px solid var(--tooltip-border-color);;
}
/* CSS border triangles */
.tooltip_tip_bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-border-color);;
}

/* Absolute positioning */
.tooltip_tip_bottom-right {
  bottom: calc(var(--tooltip-margin) * -2.2);
  border-top: 8px solid var(--tooltip-border-color);;
  transform: translateX(-20%);
}
/* CSS border triangles */
.tooltip_tip_bottom-right::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-border-color);;
  transform: translateX(-90%);
}

/* Absolute positioning */
.tooltip_tip_bottom-left {
  bottom: calc(var(--tooltip-margin) * -2.2);
  border-top: 8px solid var(--tooltip-border-color);;
  transform: translateX(-80%);
}
/* CSS border triangles */
.tooltip_tip_bottom-left::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-border-color);;
  transform: translateX(90%);
}

/* Absolute positioning */
.tooltip_tip_left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right: 8px solid var(--tooltip-border-color);;
}
/* CSS border triangles */
.tooltip_tip_left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-border-color);;
}
